Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [10]:
import pandas as pd
data = pd.read_csv('ratings.csv')
data2 = pd.read_csv('movies.csv')

In [12]:
data = data [(data['rating'] == 5.0)]
data1 = data[['movieId','rating']].groupby(['movieId']).count().sort_values('rating', ascending = False).head(1)
data1.join(data2, on='movieId', how='inner')[['title']]

                               title
movieId
318      Swimming with Sharks (1995)

In [67]:
data = None
data1 = None
data2 = None

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [68]:
data = pd.read_csv('power.csv')

In [90]:
data = data[ data.quantity > 0 ]
# data['country'].isin(['Latvia', 'Estonia', 'Lithuania']). - метод для сокращения фильтров

In [94]:
data[  ((data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia'))
                          & ((data['category'] == 4) | (data['category'] == 12) | (data['category'] == 21)) 
                          & ((2005<=data['year']) & (data['year']<=2010))  ].quantity.sum()

240580.0

In [76]:
filtered_countries

[0          False
 1          False
 2          False
 3          False
 4          False
            ...
 1189477    False
 1189478    False
 1189479    False
 1189480    False
 1189481    False
 Name: country, Length: 1189482, dtype: bool]

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [97]:
page_url = 'https://fortrader.org/bankrates'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
df = pd.read_html(page_url, encoding='utf-8')

In [98]:
df

[   Страна                                Банк  \
 0     NaN                   ЦБ РФ Банк России
 1     NaN    ЕЦБ Европейский Центральный Банк
 2     NaN   ФРС Федеральная Резервная Система
 3     NaN        РБА Резервный Банк Австралии
 4     NaN                     BOJ Банк Японии
 5     NaN  РБНЗ Резервный Банк Новой Зеландии
 6     NaN                  SNB Банк Швейцарии
 7     NaN                     BOC Банк Канады
 8     NaN                     BOE Банк Англии

                                          Название Значение  \
 0                                 Ключевая ставка       5%
 1                             Ставка по депозитам       0%
 2                              Федеральный Резерв    0.25%
 3                               Процентная ставка     0.1%
 4           Целевая процентная ставка по овернайт    -0.1%
 5                               Процентная ставка    0.25%
 6  Диапазон трехмесячной процентной ставки LIibor   -0.75%
 7           Целевая процентная ставка по овернайт    0.25%
 8                               Процентная ставка     0.1%

   Последнее заседание Следующее заседание
 0   23.04.2021 (0.5%)          11.06.2021
 1          22.04.2021          10.06.2021
 2          28.04.2021          16.06.2021
 3          06.04.2021          04.05.2021
 4          21.01.2021          19.03.2021
 5          24.02.2021          14.04.2021
 6          25.03.2021          17.06.2021
 7          10.03.2021          21.04.2021
 8          18.03.2021          06.05.2021  ]